<div class="d-flex" id="wrapper">

	<div ng-include="'modules/home/sidebar.html'"></div>
	
	<!-- Page Content -->
	<div id="page-content-wrapper">
	
		<div ng-include="'modules/home/topbar.html'"></div>
	
		<div class="container-fluid">
			
			<div ng-init="init()">		
				 
				<h1>Addresses</h1>
				
				<div class="btn-group float-right" role="group">
	                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAddressModal" ng-click="loadCreateAddressModal()"><i class="fas fa-plus"></i> Create Address</button>	                
	            </div>
	            
	            <div ng-show="addresses.length==0">
					<p><i>There are no records</i></p>
				</div>
				
				<div ng-show="addresses.length>0">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Address</th>
								<th scope="col">Title</th>
								<th scope="col">Url</th>
								<th scope="col">Network</th>
								<th scope="col">Description</th>								
								<th scope="col">Owner</th>								
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="address in addresses">
								<td scope="row">{{address.ip}}</td>
								<td>{{address.title}}</td>
								<td>{{address.url}}</td>
								<td>{{address.network}}</td>
								<td>{{address.description}}</td>
								<td>{{address.owner}}</td>								
								<td>
									<a href="" data-toggle="modal" data-target="#updateAddressModal" ng-click="loadUpdateAddressModal(address)"><i class="fas fa-edit"></i></a>
									<a href="" ng-click="deleteAddress(address)"><i class='far fa-trash-alt'></i></a>								
								</td>
							</tr>						
						</tbody>
					</table>	
				</div>
				
				<!-- Create Address Modal -->
				<div class="modal fade" id="createAddressModal" tabindex="-1" role="dialog" aria-labelledby="createAddressesModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="createAddressesModalLabel">Create addresses</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form name="createAddressForm" class="my-form">
									<div class="form-group">
										<label for="inputIp">Address</label>
										<input ng-model="inputIp" type="text" class="form-control" id="inputIp" aria-describedby="ipHelp" required>
										<small id="ipHelp" class="form-text text-muted">{{ipHelp}}</small>
									</div>
									<div class="form-group">
										<label for="inputTitle">Title</label>
										<input ng-model="inputTitle" type="text" class="form-control" id="inputTitle" required>
									</div>
									<div class="form-group">
										<label for="inlineSelectNetwork">Network</label>
										<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" ng-model="inlineSelectNetwork" ng-init="inlineSelectNetwork=''" required>
									        <option value="">Choose...</option>
									        <option ng-repeat="network in networks" value="{{network.url}}">{{network.cidr}}</option>
      									</select>
									</div>
									<div class="form-group">
										<label for="inputDescription">Description</label>
										<textarea ng-model="inputDescription" class="form-control" id="inputDescription" rows="3" class="form-control"></textarea>
									</div>
									
									<button type="submit" class="btn btn-primary" ng-disabled="!createAddressForm.$valid" ng-click="createAddress(inputIp, inputTitle, inputDescription, inlineSelectNetwork)">Create</button>
								</form>

							</div>							
						</div>
					</div>
				</div>
				
				<!-- Edit Address Modal -->
				<div class="modal fade" id="updateAddressModal" tabindex="-1" role="dialog" aria-labelledby="updateAddressModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="updateAddressModalLabel">Update address</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form name="updateAddresForm" class="my-form">
									<div class="form-group">
										<label for="inputIp">Address</label>
										<input ng-model="addressToUpdate.ip" type="text" class="form-control" id="inputIp" aria-describedby="ipHelp" ng-value="addressToUpdate.ip" required>
										<small id="ipHelp" class="form-text text-muted">{{ipHelp}}</small>
									</div>
									<div class="form-group">
										<label for="inputTitle">Title</label>
										<input ng-model="addressToUpdate.title" type="text" class="form-control" id="inputTitle" ng-value="addressToUpdate.title" required>
									</div>
									<div class="form-group">
										<label for="inlineSelectNetwork">Network</label>
										<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" ng-model="addressToUpdate.network" ng-init="inlineSelectNetwork=''" ng-value="addressToUpdate.network" required>
									        <option value="">Choose...</option>
									        <option ng-repeat="network in networks" value="{{network.url}}">{{network.cidr}}</option>
      									</select>
									</div>									
									<div class="form-group">
										<label for="inputDescription">Description</label>
										<textarea ng-model="addressToUpdate.description" class="form-control" id="inputDescription" rows="3" class="form-control" ng-value="addressToUpdate.description"></textarea>
									</div>
									
									<!-- !updateNetworkForm.$valid -->
									<button type="submit" class="btn btn-primary" ng-disabled="updateAddresForm.$pristine" ng-click="updateAddress(addressToUpdate)">Update</button>
								</form>

							</div>							
						</div>
					</div>
				</div>

			</div>
			
			<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->	
		
		</div>
	</div>
	<!-- /#page-content-wrapper -->
	
 </div>
<!-- /#wrapper -->

