<div class="d-flex" id="wrapper">

	<div ng-include="'modules/home/sidebar.html'"></div>
	
	<!-- Page Content -->
	<div id="page-content-wrapper">
	
		<div ng-include="'modules/home/topbar.html'"></div>
	
		<div class="container-fluid">
			
			<div ng-init="init()">	
				
				<h1>Network List</h1>
				<!-- This is used to fit space with the address page -->
				<h4>&nbsp;</h4>
				<h4>&nbsp;</h4>

				<form class="form-inline">
					<div class="form-group mx-sm-3 mb-2">
						<button type="button" class="btn btn-primary  mb-2" data-toggle="modal" data-target="#createNetworkModal"><i class="fas fa-plus"></i> Create Network</button>
					</div>						      					
				</form>

				<!-- 
				<div class="btn-group float-right" role="group">
	                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNetworkModal"><i class="fas fa-plus"></i> Create Network</button>	                
	            </div>	            
	            	-->
	            	 
				<div ng-show="networks.length==0">
					<i><p>There are no networks</p></i>
				</div>
				
				<!-- View Table -->
				<br>
				<div ng-show="networks.length>0">
				
					<form name="searchNetworkForm" class="form-inline">
						<div class="form-group mx-sm-3 mb-2">
							<input ng-model="searchNetwork" type="text" class="form-control" id="inputNetworkSearch" placeholder="Network CIDR">
						</div>
						<button type="submit" class="btn btn-primary mb-2" ng-disabled="!searchNetworkForm.$valid" ng-click="getNetworks(searchNetwork)">Search by CIDR</button>					
					</form>
				
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">CIRD</th>
								<th scope="col">Title</th>
								<th scope="col">Description</th>
								<th scope="col">Owner</th>
								<th scope="col">Enabled</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="network in networks" class="accordion-toggle">
								<td scope="row">{{network.id}}</td>
								<td><a href="" ng-click="networkDetail(network)">{{network.cidr}}</a></td>
								<td>{{network.title}}</td>
								<td>{{network.description}}</td>
								<td>{{network.owner}}</td>
								<td>{{network.enabled}}</td>
								<td>
									<a href="" data-toggle="modal" data-target="#updateNetworkModal" ng-click="loadUpdateNetworkModal(network)"><i class="fas fa-edit"></i></a>
									<a href="" ng-click="deleteNetwork(network)"><i class='far fa-trash-alt'></i></a>						
								</td>
							</tr>						
						</tbody>
					</table>
				</div>
				
				<!-- Create Network Modal -->
				<div class="modal fade" id="createNetworkModal" tabindex="-1" role="dialog" aria-labelledby="createNetworkModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="createNetworkModalLabel">Create network</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form name="createNetworkForm" class="my-form">
									<div class="form-group">
										<label for="inputCidr">CIRD</label>
										<input ng-model="inputCidr" type="text" class="form-control" id="inputCidr" aria-describedby="cidrHelp" required>
										<small id="cidrHelp" class="form-text text-muted">{{cidrNote}}</small>
									</div>
									<div class="form-group">
										<label for="inputTitle">Title</label>
										<input ng-model="inputTitle" type="text" class="form-control" id="inputTitle" required>
									</div>
									<div class="form-group form-check">
										<input ng-model="inputEnabled" ng-init="inputEnabled=false" type="checkbox" class="form-check-input" class="form-control" id="inputEnabled">
										<label class="form-check-label" for="inputEnabled">Enabled</label>
									</div>
									<div class="form-group">
										<label for="inputDescription">Description</label>
										<textarea ng-model="inputDescription" class="form-control" id="inputDescription" rows="3" class="form-control"></textarea>
									</div>
									
									<button type="submit" class="btn btn-primary" ng-disabled="!createNetworkForm.$valid" ng-click="createNetwork(inputCidr, inputTitle, inputDescription, inputEnabled)">Create</button>
								</form>

							</div>							
						</div>
					</div>
				</div>
				
				<!-- Edit Network Modal -->
				<div class="modal fade" id="updateNetworkModal" tabindex="-1" role="dialog" aria-labelledby="updateNetworkModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="updateNetworkModalLabel">Update network</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form name="updateNetworkForm" class="my-form">
									<div class="form-group">
										<label for="inputCidr">CIRD</label>
										<input id="updateInputCidr" name="updateInputCidr" ng-model="networkToUpdate.cidr" ng-value="networkToUpdate.cidr" type="text" class="form-control" aria-describedby="cidrHelp" required>
										<small id="cidrHelp" class="form-text text-muted">{{cidrNote}}</small>
									</div>
									<div class="form-group">
										<label for="updateInputTitle">Title</label>
										<input id="updateInputTitle" name="updateInputTitle" ng-model="networkToUpdate.title" ng-value="networkToUpdate.title" type="text"  class="form-control" required>
									</div>
									<div class="form-group form-check">
										<input id="updateInputEnabled" name="updateInputEnabled" ng-model="networkToUpdate.enabled" ng-value="networkToUpdate.enabled" type="checkbox" class="form-check-input" checked>
										<label class="form-check-label" for="updateInputEnabled">Enabled</label>
									</div>
									<div class="form-group">
										<label ng-model="updateInputDescription" for="updateInputDescription">Description</label>
										<textarea id="updateInputDescription" name="updateInputDescription" ng-model="networkToUpdate.description" ng-value="networkToUpdate.description" class="form-control" rows="3"></textarea>
									</div>
									
									<!-- !updateNetworkForm.$valid -->
									<button type="submit" class="btn btn-primary" ng-disabled="updateNetworkForm.$pristine" ng-click="updateNetwork(networkToUpdate)">Update</button>
								</form>

							</div>							
						</div>
					</div>
				</div>

			</div>
			
			<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->	
		
		</div>
	</div>
	<!-- /#page-content-wrapper -->
	
 </div>
<!-- /#wrapper -->

